{% extends "layout.html" %}

{% block body %}
<h1>About Us</h1>
<p>My first attempt at a python applciation using the microframework Flask.
I am following the tutorials of the Youtube channel "Traversy Media"</p>

<ul>
  <li><a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA">YouTube Channel Link</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLillGF-RfqbbbPz6GSEM9hLQObuQjNoj_">YouTube Playlist Link</a></li>
  <li><a href="http://getbootstrap.com/docs/4.1/examples/starter-template/">Nav-bar template link</a></li>
</ul>






{% endblock %}
